<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Smartbudget{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>

<nav class="top-nav">
    <div class="nav-inner">
        <a href="{{ url_for('home') }}" class="logo pixel-ui logo-plain">
            Smartbudget
        </a>
        <div class="nav-links">
            {% if session.get('user') %}
                <a href="{{ url_for('add_transaction') }}">Add</a>
                <a href="{{ url_for('transactions') }}">Transactions</a>
                <a href="{{ url_for('predictions') }}">Predictions</a>
                <a href="{{ url_for('charts') }}">Charts</a>
                <a href="{{ url_for('logout') }}">Logout</a>
            {% else %}
                <a href="{{ url_for('login') }}">Login</a>
                <a href="{{ url_for('register') }}">Sign Up</a>
            {% endif %}
        </div>
    </div>
</nav>

<main class="app">
    {% block content %}{% endblock %}
</main>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>
</html>
